{% extends 'polls/navigation.html' %}
{#{% load static %}#}

{% block content %}
    <div id="echarts_demo" style="width: 1600px;height:400px;"></div>

    <table class="table table-bordered" id="person-table">
        <thead class="table-green">
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>age</th>
                <th data-sortable="true">score</th>
            </tr>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.age }}</td>
                <td class="td-score">{{ person.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="chart-in-modal" style="width: 400px;height:600px;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('echarts_demo'));
      var scores = [];
      var ages = [];
      var names = [];

      {% for person in persons %}
          scores.push({{ person.score }})
          ages.push({{ person.age }})
          names.push("{{ person.name }}")
      {% endfor %}

      // 指定图表的配置项和数据
      var option = {
        title: {
          text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
          data: ['scores', 'age']
          {#data: ['销量']#}
        },
        xAxis: {
          name: "name",
          nameLocation: "end",
          axisTick: {
            show: true,
            alignWithLabel: true,
          },
          axisLabel: {
            interval: 0,
            rotate: 60
          },
          {#data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']#}
          data: names
        },
        yAxis: {
          name: "score",
          nameLocation: "middle",
        },
        series: [
          {
            name: 'scores',
            type: 'line',
            data: scores,
            markLine: {
                data: [
                    {type: 'average', name: 'average'},
                    {type: 'median', name: 'median'},
                ]
            },
            {# static data: [5, 20, 36, 10, 10, 20]#}
          },
          {
            name: 'age',
            type: 'line',
            data: ages,
            lineStyle: {
                color: '#5470C6',
                width: 4,
                type: 'dotted'
            },
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);

    $(function () {
        $('.td-score').each(function (index, element){
            //if score < 70 in table, set to red
            let score = $(this).text();
            if(score < 70){
                {#console.log(score);#}
                {#$(this).addClass('bg-danger')#}
                $(this).css('background', "#dc5b5b");
                $(this).css('color', "#ffffff");
            }
        })
    })

    $(function() {
        $('#person-table').bootstrapTable({
            pagination: true,
            pageSize: 10,
            paginationLoop: false,
            pageList: [10, 20, 30],
            search: true,
            smartDisplay:false,
        });
        $('.dataTables_length').addClass('bs-select');
    });

    var age;
    var score;
    $(function (){
        $("td").on("click", function (){
            age = $(this).parent().children('td:eq(2)').text();
            score = $(this).parent().children('td:eq(3)').text();
            var elements = $(this).parent().children('td');
            $(elements).each(function (id, element){
                console.log(id);
                console.log(element);
                {#console.log($(this));#}
                {#console.log($(this).text());#}
            })
            $("#exampleModal").modal();
        })
    })

    //insert a chart into modal
    //todo: use dynamic data for chart
    $(function (){
        $("#exampleModal").on("shown.bs.modal", function (e){
            var myChart = echarts.init(document.getElementById('chart-in-modal'));
            // 指定图表的配置项和数据
            var option = {
            title: {
              text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
              data: ['销量']
            },
            xAxis: {
              data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', 'age']
            },
            yAxis: {},
            series: [
              {
                name: 'score',
                type: 'bar',
                data: [5, 20, 36, 10, 10, score]
              },
              {
                name: 'age',
                type: 'line',
                data: [5, 20, 36, 10, 10, age]
              }
            ]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        })
    })

    $(function (){
        $("i.fa-bar-chart").parent().parent().addClass("active");
    })

{% comment %}
        //below would lost click event after changing page
        $("td").click(function (){
            {#let age = $(this).parent().children('td:eq(2)').text();#}
            {#let score = $(this).parent().children('td:eq(3)').text();#}
            {#console.log(age);#}
            {#console.log(score);#}
            console.log($(this).text());
        })
        $("td").on("click", function (){
            console.log($(this).text());
        })

        $(document).on("click", "td", function (){
            let age = $(this).parent().children('td:eq(2)').text();
            let score = $(this).parent().children('td:eq(3)').text();
            {#$(".model-body div").remove();#}
            $(".modal-body").append(function (){
                let text1 =  "<h5>insert h5 into modal body</h5>";
                let text2 = "<h5>age: "+age+" score: "+score+"</h5>";
                return text1+text2;
            });
            $("#exampleModal").modal();
        })
    $(function (){
        $("#exampleModal").on("show.bs.modal", function (e){
            console.log("show.bs.modal");
            alert("show.bs.modal");
        })
    })
{% endcomment %}
    </script>
{% endblock %}