{% extends 'polls/navigation.html' %}
{#{% load static %}#}

{% block content %}
    <div id="echarts_demo" style="width: 1600px;height:400px;"></div>

    <table class="table table-bordered" id="person-table">
        <thead >
            <tr>
                <th>name</th>
                <th>age</th>
                <th data-sortable="true">score</th>
            </tr>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.age }}</td>
                <td class="td-score">{{ person.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('echarts_demo'));
      var scores = [];
      var ages = [];
      var names = [];

      {% for person in persons %}
          scores.push({{ person.score }})
          ages.push({{ person.age }})
          names.push("{{ person.name }}")
      {% endfor %}

      // 指定图表的配置项和数据
      var option = {
        title: {
          text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
          data: ['scores', 'age']
          {#data: ['销量']#}
        },
        xAxis: {
          name: "name",
          nameLocation: "end",
          axisTick: {
            show: true,
            alignWithLabel: true,
          },
          axisLabel: {
            interval: 0,
            rotate: 60
          },
          {#data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']#}
          data: names
        },
        yAxis: {
          name: "score",
          nameLocation: "middle",
        },
        series: [
          {
            name: 'scores',
            type: 'bar',
            data: scores
            {#data: [5, 20, 36, 10, 10, 20]#}
          },
          {
            name: 'age',
            type: 'line',
            data: ages
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);

    $(function () {
        $('.td-score').each(function (){
            //if score < 70 in table, set to red
            let score = $(this).text();
            if(score < 70){
                console.log(score);
                {#$(this).addClass('bg-danger')#}
                $(this).css('background', "#dc5b5b");
                $(this).css('color', "#ffffff");
            }
        })
    })

    $(function() {
        $('#person-table').bootstrapTable({
            pagination: true,
            pageSize: 10,
            paginationLoop: false,
            pageList: [10, 20, 30],
            search: true,
            smartDisplay:false,
        });
        $('.dataTables_length').addClass('bs-select');
    });
    </script>
{% endblock %}