{% extends 'polls/navigation.html' %}

{% block content %}
    <form action="#" method="post" class="container">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>

    <div class="container">
        <a href="#"><i class="fa fa-skype fa-3x"></i></a>
        <a href="#"><i class="fa fa-slack fa-3x"></i></a>
    </div>

    <script>
        $(function (){
            $("i.fa-tasks").parent().parent().addClass("active");
        })
    </script>
{% endblock %}