{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>mysite_template</title>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap-table.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/mdb.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/jquery-ui.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/font-awesome.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
{#        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}

        <script src="{% static 'polls/js/jquery.min.js' %}"></script>
        <script src="{% static 'polls/js/popper.min.js' %}"></script> {#  for dropdown  #}
        <script src="{% static 'polls/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'polls/js/mdb.min.js' %}"></script>
        <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'polls/js/jcanvas.min.js' %}"></script>
        <script src="{% static 'polls/js/bootstrap-table.js' %}"></script>
        <script src="{% static 'polls/js/echarts.min.js' %}"></script>
        <script>
            $(document).ready(function(){
              $("#btn").click(function(){
                $("a, .nvbar-brand").toggle();
              });
            });
        </script>
        <style>
            .table-green {
                background: #00ad27;
                color: #ffffff;
            }
        </style>
    </head>
<body>
{#navigation#}
{#<nav class="navbar navbar-expand-lg navbar-dark bg-green container">#}
<nav class="navbar navbar-expand-lg navbar-dark container table-green">
{#    style="background:#0ec938;">#}
{#  <button id="btn">Show/Hide</button>#}
  <a class="navbar-brand" href="#">SWDLQA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'polls:index' %}" data-toggle="tooltip" title="HOME"><i class="fa fa-home fa-2x"></i> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'polls:table' %}" data-toggle="tooltip" title="TABLE"><i class="fa fa-table fa-2x"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'polls:echarts' %}" data-toggle="tooltip" title="CHART"><i class="fa fa-bar-chart fa-2x"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'polls:form' %}" data-toggle="tooltip" title="FORM"><i class="fa fa-tasks fa-2x"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
{% comment %}
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
{% endcomment %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

{% block content %}
{% endblock %}

<script>
    //mouse enter to show hints by using bootstrap tooltip
    $(function (){
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
</body>
</html>